* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-color: #00ADB5; */
  font-family: "Roboto", sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: #CBF1F5;
  padding: 1%;
}
aside {
  min-height: 100vh;
  position: absolute;
  width: 15%;
  background-color: #DBE2EF;
  padding-bottom:900px;
  /* border: 2px solid black; */

}
aside > ul > button {
  margin-top: 25%;
  padding-left: 20%;
  font-size: larger;
  background-color: transparent;
  border: none;
  flex-direction: row;
  display: flex;
  text-align: center;
  /* padding-left: 5%; */
  /* border: 2px solid black; */
  
}
.signout {
  font-size: larger;
  background-color: transparent;
  border: none;
}
main {
  margin-left: 15%;
  padding-top: 1%;
  background-color: #F9F7F7;
}
